@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;1,400&display=swap");

@import "./constants";
@import "./testimonial";
@import "./portfolio";
@import "./socialbuttons";

* {
  box-sizing: border-box;
}

body {
  background-color: $backgroundColorMedium;
  color: $fontColorDark;
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 23px;
  text-align: left;
  line-height: 1.8em;
  overflow-x: hidden;
  overflow-y: auto;
  main {
    width: 90%;
    padding: $paddingMedium;
    margin: auto;
  }
}


